body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: poppins;
	background: blueviolet;
}

input{
	width: 190px;
	height: 20px;
	border-radius: 8px;
	border: 3px;
	outline: none;

}

.btn2{
	background: black;
	color: white;
}
.wrapper, .single-card {
	height: 450px;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
.wrapper {
	perspective: 900px;
}
.single-card {
	text-align: center;
	transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
	transform-style: preserve-3d;
}
.wrapper:hover .single-card {
	transform: rotateY(180deg);
}
.front,.front2,.front3, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
	cursor: pointer;
	height: 100%;
	background: url(https://meneguite.com/2017/10/01/golang-desbravando-uma-linguagem-de-programacao-parte-1/001.gif);
    background-size: cover;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-position: center center;
}
.front2 {
	cursor: pointer;
	height: 100%;
	background: url( https://i.gifer.com/o6m.gif);
    background-size: cover;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-position: center center;
}
.front3 {
	cursor: pointer;
	height: 100%;
	background: url( https://i.gifer.com/7t4D.gif);
    background-size: cover;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-position: center center;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 450px;
	background: #fff;
}
.content {
	padding-top: 25%;
}
.content h2 {
	font-size: 35px;
	margin: 0;
	font-weight: 300;
}
.content h4 {
	margin: 0;
}

